<!DOCTYPE html>
<html lang="en-UK">
<head>
<meta charset="utf-8" />
<meta name="description" content="Mr. Nobody: About Page. Who is Mr. Nobody?" />
<meta name="author" content="Mister Nobody" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Mr. Nobody</title>
<meta property="og:title" content="Mr. Nobody: About Page. " />
<meta property="og:description" content="Mr. Nobody About Page. Who is Mr.
Nobody? What's the point of the blog? And more. " />
<link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16-min.png"/>
<link rel="manifest" href="../images/site.webmanifest-min"/>
<!--bring over the fonts from google -->
<link href="https://fonts.googleapis.com/css?family=Sancreek|Balthazar&display=swap" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="./index.css" />
<!--social media icons from 
    https://simpleicons.org/ -->
</head>

<body>
  <div class="wholePage">
  <section class="wholePage__getInvolved">
    <a href="https://paypal.me/misterybodon">Donate</a>
    <a href="https://github.com/misterybodon/web">Contribute</a>
  </section>

  <section class="body wholePage__body">
<header id='top' class="header">
    <nav class="navbar">
      <div class="hamburger" id="hamburger" >
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul id="navbar__ul" class="navbar__ul">
        <li><a class="navbar__link" href="../">Home</a></li>
        <li><a class="navbar__link" href="#">About</a></li>
        <li><a class="navbar__link" href="mailto:misterybodon@gmail.com?">Contact</a></li>
      </ul>
    </nav>
    <h1 id="showcase__h1" class="showcase__h1">The Ramblings<br/> of <br/>Mr. Nobody</h1>
    <p class="topTagLine">May 16th, 2020: Opening.</p>
<img class="header__showcaseimg" src="../images/about-min.jpg" type="image/jpeg" 
      alt="Mr nobody methaphorically picturing his shadow, which is projected on the road. There is the shadow of an umbrella he's wearing too." />
</header>
      <article class="article">
      <section>
        <h2>H2 title</h2>
      </section>
      </article>
<section class="newposts">
    <h2>New Posts</h2>
  <ul>
      <!--this area will be filled with the script-->
 </ul>
</section>

  <a id="backToTop" class="backToTop" href="#top"><img class="backToTop__img"
    type="image/svg+xml" src="../images/right_gold-min.svg"/></a>

</section>
  <!--the section finishing here wraps all content-->
<div class="comments" id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = "https://misterybodon.github.io/web/dist/about/index.html"  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = "about"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://misterybodon.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<footer class="footer">
    <ul class="footer__social">
      <li>
          <a href="https://lbry.tv" class="socialMedia__links library"><img class="socialLogo" src="../images/lbry-min.svg" title="link to lbry.tv, still need to create my own channel!" alt="lbry logo, link to personal account" /></a>
     </li>
     <li>
        <a href="https://www.instagram.com/misterybodon/" class="socialMedia__links instagram"><img class="socialLogo" src="../images/instagram-min.svg" type="image/svg+xml" title="link to instragram" alt="instagram logo, link to personal account" /></a>
     </li>
     <li>
        <a href="https://twitter.com/misterydobon" class="socialMedia__links twitter"><img class="socialLogo" src="../images/twitter-min.svg" type="image/svg+xml" title="link to twitter" alt="twitter logo, link to personal account" /></a>
     </li>
     <li>
        <a href="https://www.youtube.com/channel/UCN7tB90HHqCyxXbwifu63Rg" class="socialMedia__links youtube"><img class="socialLogo" src="../images/youtube-min.svg" type="image/svg+xml" title="link to youtube"  alt="youtube logo, link to personal account"/></a>
  </li>
   </ul>
    <div class="footer__copyright">
      &copy; 2020 Mister Nobody.
    </div>
</footer>
    </section>
  <script src="../js/all.js">
  </script>
  <script src="../js/smoothScroll.js">
      </script>
    <script>
var scroll = new SmoothScroll('a[href*="#"]'); 
    </script>
</body>

</html>
