@use '../sass/variables';
@use 'thisvariables';
.watchCode, .runCode{
color:thisvariables.$veryLightGray;
background-color:rgba(0,0,0,0.9);
box-shadow:1px 1px 2px variables.$hamburgerOff;
> pre {
&::before{
    content:"p5.js";
    width:100%;
    top:0;
    left:0;
    color:thisvariables.$thepink;
    height:1.5rem;
    padding-left:0.2rem;
    background-color:thisvariables.$veryLightGray;
    position:absolute;
}
overflow:hidden;
padding:1rem;
padding-top:thisvariables.$fileInfo;
position:relative;
}
}

.runCode{
    overflow:hidden;
display:flex;
flex-direction:column;
width:100%;
transition:width 1s ease-in-out;
> .runCode__buttons{
@include variables.flexcenter($justify:space-around);
background-color: variables.$hamburgerOff;

> button {padding:0.5rem;
background-color:black;
opacity:0.75;
&:hover {opacity:0.5;}
}
}
iframe {
    width:100%;
    height:auto;
    transition:height 1s ease-in-out}
}
.runCode__largeScreen{
    width:600px;
    margin:auto;
}
.runCode__smallScreen{
    width:350px;
    margin:auto;
}
.iframe__largeScreen{
    height:600px;
}
.iframe__smallScreen{
    height:450px;
}

