@use 'resets';
@use 'variables';

img.socialLogo {
  width: variables.$squareLogo;
  height: variables.$squareLogo;
}
.twitter:hover {
  text-decoration: underline;
  color: black;
}

.footer {
  background-color: variables.$footerBackground;
  color: variables.$theDark;
}
