@use 'resets';
@use 'variables';
header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  > * {
    position: absolute;
  }
  .navbar {
    top: 0;
    right: 0;
  }
  &__showcaseimg {
    //display set to block in _resets
    object-fit: cover;
    min-width: 200px;
    min-height: 300px;
    width: 100vw;
    height: 100vh;
  }

  h1 {
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    left: 50%;
  }
}

.hamburger {
  //onclick it should rotate to a cross on click
  position: absolute;
  z-index: 999;
  right: 1rem;
  top: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

.navbar__ul {
  display: grid;
  place-items: center;
  padding-top: 48px;
  overflow: hidden;
  z-index: 3;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(135, 116, 78);
  transition: width 0.5s ease-out;
}
.trigger__navbar {
  width: 100vw;
}
