@use 'resets';
@use 'header';
@use 'pageLayout';
@use 'fonts';
@use 'variables';
@use 'footer';

body {
  text-align: center;
  background-color: variables.$theDark;
  color: white;
}
.card img {
  width: 50%;
}

