@use 'resets';
@use 'header';
@use 'layout';
@use 'fonts';
@use 'variables';

body {
  text-align: center;
  background-color: variables.$theDark;
  color: white;
}
.card img {
  width: 50%;
}

img.socialLogo {
  width: variables.$squareLogo;
  height: variables.$squareLogo;
}
.twitter:hover {
  text-decoration: underline;
  color: black;
}

.footer {
  background-color: variables.$footerBackground;
  color: variables.$theDark;
}
