@use 'resets';
@use 'variables';

img.socialLogo {
  width: variables.$squareLogo;
  height: variables.$squareLogo;
}

.footer {
  display: grid;
  align-items: center;
  padding: variables.$mediumspaceFooter;
  grid-template-columns:
    repeat(2, variables.$smallspace) minmax(min-content, 1fr)
    repeat(2, variables.$smallspace);
  row-gap: variables.$smallspace;
  background-color: variables.$footerBackground;
  color: variables.$footerColor;
  &__copyright {
    text-align: right;
    grid-column: 2 / -2;
  }
  &__social {
    @include variables.flexcenter(row, center, space-between);
    grid-column: 2 / -2;
  }
}
@media screen and (min-width:700px){
.footer{
    &__copyright{
        text-align:center;
    }
    &__social{justify-content:space-around;}
}
}
@media screen and (min-width:900px){
.footer{
   grid-template-columns:
    repeat(2, variables.$smallspace) repeat(2,minmax(min-content, 1fr))
    repeat(2, variables.$smallspace);
  row-gap: variables.$smallspace;
 &__copyright{
        text-align:center;
    grid-column: 4 / 5;
    }
    &__social{
    grid-column: 3 / 4;
    justify-content:space-around;}
}  
}
