@use 'variables';
@use 'footer';
@use 'fonts';
@use 'resets';
body {
  background-color:variables.$bodyBackground;
  display: grid;
  height: 100vh;
  text-align:center;
  grid-template-rows: minmax(80px, 15vh) 1fr minmax(80px, 20vh);
  color:variables.$bodyColor;
}
h1{
display:grid;
place-items:center;
padding:1rem;
}
ul.sites{display:grid;
    row-gap:10px;
    place-items:center}

ul.sites > li {
 list-style-image:url(./../dist/images/arrow-pointing-to-right-24.png);
 padding:0.5rem;
}

a.class1 {
 font-size:2rem;
 color:variables.$cAnchors;
 position:relative;
@include variables.flexcenter();
padding: 0px 0.8rem;
&:hover{
	text-decoration:underline;
}

}


@supports(writing-mode:sideways-rl){
/*overwrite decoration underline*/
a.class1:hover{text-decoration:none;}
a.class1::before, a.class1::after{
content:'';
position:absolute;
top:0;
width:0;
height:100%;
transition:width .3s ease-out;
}
a.class1::after{
background-image:linear-gradient(to right, rgba(#222,0.2), rgba(#ddd,0.2));
left:0;
}
a.class1::before{
writing-mode:sideways-rl;
right:0;
background-image:linear-gradient(to left, rgba(#222,0.2), rgba(#ddd,0.2));
}
a.class1:hover::before,
a.class1:hover::after{
width:50%;
}
}





