* {margin:0;
padding:0;}
:root{
  --topUlBackgroundColor:   teal;
  --topUltextColorHover:   teal;
  --topUltextColor:white;
  --topUlBackgroundColorHover:white;
/*it is a good idea to have one site template w/different colors*/
/*define color variables*/
--backh2color:teal;
--complementary:hsl(214, 100%, 49%);
}

a{text-decoration: none;
color:skyblue;}
ul{list-style-type: none;}

body{text-align:center;
background-color:#333;
color:white;}
pre {
  color:white;
}
ul.mainul {
  position: fixed;
  top:0;
  height:100px;
  width:100%;
  overflow:scroll;
  background-color: var(--topUlBackgroundColor);
  z-index:2;
}
#normal{ 
  font-family:'Courier New', Courier, monospace;
}
li a {
  color: var(--topUltextColor);
  font-weight: bold;  
  display:block;
  padding:15px;
  border-bottom:1px white solid;
}
li a:hover {
  background-color: var(--topUlBackgroundColorHover);
  color:var(--topUltextColorHover);
}
li.active {
  background-color: red;
}
div.header img{display:none;}
.header{
margin-top:100px;	
text-align:center;	
background-image: radial-gradient(#444, white);
padding:55px;
font-family: 'Sancreek', cursive;
color:white;
}
h1 {margin:auto;}
#littlep{
padding-top:25px;
padding-bottom:25px;
width:80%;
text-align:justify;
margin:auto;}
#libuttons{
margin-bottom:20px;
}
#libuttons a{	
color:skyblue;
border:1px #ddd solid;
}
#libuttons a:hover{color:purple;}
section {
text-align:justify;
padding: 1% 10% 1% 10%;
}
section h2 {
background-color:var(--backh2color);
	font-family: 'Sancreek', cursive;}
.cardsan{margin-top:75px;border:2px black solid;}
h5 {font-weight: bold;}
footer {
	color:var(--topUltextColor);
background-color:var(--topUlBackgroundColor);
text-align:left;
padding:15px;
float:bottom;
clear:both;
}


#back-to-top {
  width:150px;
  margin: 50px auto;
  border-radius:5px;
  background-color:rgba(245, 229, 27, 1);
  color:rgba(44, 130, 201, 1);
  font-weight: bold;
}
#back-to-top:hover{background-color:rgba(44, 130, 201, 1);
color:rgba(245, 229, 27, 1);}

@media screen and (min-width: 600px)
{
ul.mainul{overflow:hidden; height:50px;}
.mainul li {float:left;}
.mainul li a {
border-bottom:none; 
border-right:1px white solid;
}
.header{
	padding:0px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin-bottom:25px;
}
div.header img{
	display:inline-block;
	float:left;
	height:200px;
}
#littlep{
	width:40%;
	margin-top:25px;
	padding:15px;
	border:2px solid var(--topUlBackgroundColor);
}
#littlep::first-letter{
	font-weight: bold;
	font-family:'Sancreek',
'sans-serif';
font-size:25px;}
.libuttons{
	margin-top:55px;;
}
.article{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items: flex-start;
	margin-bottom:25px;
}
section p {font-family: 'Balthazar',sans-serif;
font-size:22px;
}
.allsectiondiv{flex-basis:65%;
order:1;}
.cardsan{
margin-top:75px;
flex-basis:25%;
order:0;
}

}
