@use '../sass/resets';
@use '../sass/variables';


.body {
  row-gap:variables.$noGap;
  display: grid;
  grid-template-columns: repeat(2, variables.$columnSmallGap) 1fr repeat(2, variables.$columnSmallGap);
  grid-template-areas:
    "header header header header header"
    "backToTop article article article ."
    "backToTop newposts newposts newposts ."
    "footer footer footer footer footer";
}
header {
  grid-area: header;
}
.article {
  grid-area: article;
}

.newposts {
  grid-area: newposts;
}
.backToTop{
grid-area:backToTop;
}
.footer {
  grid-area: footer;
}
//footer is a grid too. Local layouts to be found on the respective files.

@media screen and (min-width:620px){
.body{  grid-template-columns: repeat(2, variables.$columnMediumGap) 1fr repeat(2, variables.$columnMediumGap);}
}

@media screen and (min-width:720px){
.body{ 
grid-template-columns: variables.$columnLargeGap 1fr variables.$columnLargeGap;
  grid-template-areas:
    "header header header"
    "backToTop article ."
    "backToTop  newposts ."
    "footer footer footer";
}
}

