
//only for web dev (post1)
.webdev__h3 {
    /* font-size: 1.224rem; */
    /* text-shadow: 1px 1px 2px #020202; */
    /* color: #188a09; */
    font-size: 1.324rem;
      text-shadow: 1px 1px 7px #020202;
        background: linear-gradient(to right, #1dff00, #40ea1d),black;
          background-clip: text;
            color: #0000;
              text-align: right;
            }
            
.h3__briefLine{
  text-align:right;
}
article > section:first-child > h2{
margin-top:2.75rem;}

