//next declaration is for very small phones
.article p {
  text-align:left;
}
@media screen and (min-width:400px){
.article p {
  text-align: justify;
}
}
//this declaration is only for the home page
.article__clarifications > h2{margin-top:0;}

