@use "variables";
.card{
    grid-area:"card";
    > &__h2{
     &:hover{
    cursor:pointer;}
}
 &__h2chevron {
    display:inline-block; 
    //do not remove (imgs reset to block)
    width:1rem;
    height:1rem;
    transform:rotate(90deg);
    transition:transform 0.3s ease-in-out;
   &--close{transform:rotate(-90deg);
}
}
&__wrapper{
    height:0;
    width:100%;
    overflow:hidden;
    transition:height 0.5s ease-out;
    &--fullHeight{height:100%;}
    }
&__figure {
//class added w javascript once h2 is clicked
> img {
 width:50%;
 border-radius:4%;
 box-shadow:.125rem .125rem 0 #000;
 transform: rotate(-1deg);
 transition:transform 0.3s ease;
}
> img.card__rotateImage{transform:rotate(1deg);}
> h3 {
 margin: 1.3rem;
}
> figcaption {
  text-align: center;
  margin-top: 0.7rem;
}
//center horizontally, AFAP vertically.
@include variables.flexcenter(column, center, space-between);
background-color: variables.$cardcolor;
box-shadow: 0.125rem 0.125rem 0 variables.$cardBoxShadow;
}
}
