@use 'resets';
@use 'variables';

img.socialLogo {
  width: variables.$squareLogo;
  height: variables.$squareLogo;
}

.footer {
 background-color: variables.$footerBackground;
  color: variables.$theDark;
  display: grid;
padding:variables.$footerPaddingTop 0 variables.$footerPaddingBottom; 
  align-items: center;
  grid-template-columns:
    repeat(2, variables.$columnSmallGap) minmax(min-content, 1fr)
    repeat(2, variables.$columnSmallGap);
row-gap:variables.$footerGridRowGap;
  &__copyright {
    text-align: right;
    grid-column: 2 / -2;
  }
  &__social {
    @include variables.flexcenter(row, center, space-between);
    grid-column: 2 / -2;
  }
}
@media screen and (min-width:620px){
.footer{
   grid-template-columns:
    repeat(2, variables.$columnMediumGap) repeat(2,minmax(min-content, 1fr))
    repeat(2, variables.$columnMediumGap);
  row-gap: variables.$rowSmallGap;
}
}

@media screen and (min-width:700px){
.footer{
    &__copyright{
        text-align:center;
    }
    &__social{justify-content:space-around;}
}
}
@media screen and (min-width:900px){
.footer{
 &__copyright{
        text-align:center;
    grid-column: 4 / 5;
    }
    &__social{
    grid-column: 3 / 4;
    justify-content:space-around;}
}  
}
