@use 'resets';
@use 'variables';
.body {
    background-color:variables.$bodyBackground;
    grid-row-gap:variables.$rowSmallGap;
    display: grid;
    grid-template-columns: variables.$columnSmallGapLeft 1fr variables.$columnSmallGapRight;
    grid-template-areas:
    "header header header"
    ". welcome . "
    "backToTop article . "
    "backToTop newposts  . "
}
header {
    grid-area: header;
}
.welcome {
    grid-area: welcome;
}
.article {
    grid-area: article;
}
.newposts {
    grid-area: newposts;
}
.footer {
    grid-area: footer;
}
.backToTop{
    grid-area:backToTop;
}

@media screen and (min-width:620px){
    .body{ 
        grid-template-columns: variables.$columnLargeGap 1fr variables.$columnLargeGap;
        grid-template-areas:
        "header header header"
        ". welcome ."
        "backToTop article ."
        "backToTop  newposts ."
    }
}

