@use 'resets';
@use 'variables';

body {
  display: grid;
  grid-template-columns: repeat(2, variables.$smallspace) 1fr repeat(2, variables.$smallspace);
//  row-gap: variables.$mediumspace;
grid-template-rows:repeat(2, auto variables.$mediumspace) repeat(2, auto variables.$smallspace) auto variables.$mediumspace auto;

  grid-template-areas:
    "header header header header header"
    ". . . . ."//empty row to better control the spacing
    ". . welcome . ."
    " . . . . ."
    ". article article article ."
    " . . . . ."
    "backToTop backToTop card . ."
    "backToTop backToTop . . ."
    " backToTop backToTop  newposts . ."
   // ". . backToTop . ." will pos this sticky.
    //I would do ". . footer . ." but see below on foote
" . . . . ."
"footer footer footer footer footer";
}
header {
  grid-area: header;
}
.welcome {
  grid-area: welcome;
}
.article {
  grid-area: article;
}

.card {
  grid-area: card;
}
.newposts {
  grid-area: newposts;
}

.footer {
  grid-area: footer;
}

//footer is a grid too. Local layouts to be found on the respective files.
