@use 'resets';
@use 'variables';
.header, .navbar__ul{
  min-height:250px;
  //if someone resizes the window, it should 
  //change dynamically (that's why I use vh in between 300px 
  //and 500px.
  height:100vh;
 // height: -webkit-fill-available;
//  height: -moz-available; 
  max-height:450px;
}
.header {
  overflow:hidden;
  position:relative;
  > * {
    position: absolute;
  }
  .navbar {
    //navbar on the top right corner
    //wraps hamburger and the navigation list (as a sibling of the
    //hamburger).
    top: 0;
    right: 0;
    display: grid;
  }
  &__showcaseimg {
    //display set to block in _resets
    object-fit: cover;
    min-width: 200px;
    min-height:300px;
    width: 100%;
    //not sure if this makes the image square?
    //height is 100% of what?
    height: 100%;
    max-height:500px;
  }

  > .showcase__h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    text-shadow: 2px 2px 1px variables.$theRed;
    opacity:1;
    transition:opacity 0.4s ease-in;
  }
}
//finish all header's first children. Now we go deeper.
.navbar__ul {
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  width: 0;
  top: 0;

  z-index: 20;
  padding-top: 3rem;
  overflow: hidden;
  //overflow hidden holds the links hidden, otherwise 
  //the default is overflow visible, even if we write 
  //width:0;`
  transition: width 0.5s ease-out;
  background-color:variables.$theBrown; 
}

p.topTagLine{
  background-color:#111;
  text-align:center;
  width:100%;
  font-size:16px;
  letter-spacing:1px;
  color:rgba(234, 38, 38, 0.8);
  z-index:15;
}

 .header .h1Vanisher{
  opacity:0;
}
//this class is added to navbar using js. It switches smoothly from width:0; to width:100vw;
.trigger__navbar {
  width: 100vw;
}
@media screen and (min-width:550px){
.header, .navbar__ul{
  max-height:550px;
}
.header__showcaseimg{
    max-height:550px;
}
}
@media screen and (min-width:700px){
    .trigger__navbar{width:50vw;}
}

@media screen and (min-width:900px){

.header {
min-height:500px;
max-height: 900px;
height: 70vh;
& > .showcase__h1{
top: calc(50% + 39.7px / 2 + 47.25px / 2);
}
//img was absolute, I might review that.
& > .showcase__img{position:relative}
.navbar {
  //flexcenter will be found in variables.scss.
@include variables.flexcenter(
column);
min-height:auto;
position: relative;
}

}

.navbar__ul {
height:auto;
min-height:auto;
@include variables.flexcenter($direction:row, 
$justify:space-around);
position: relative;
padding: 0.3rem 0;
overflow: visible;
transition: none;
width: 100%;
}
p.topTagLine {
font-size: 18px;
position: relative;
margin: 0;
padding: 5px;
}
}
