@use 'resets';
.newposts {
  margin-bottom:80px;
> ul > li {
    line-height:1.45rem;
  text-align:right;
  margin-bottom:1rem;
  padding-right:10%;
}
}
@media screen and(min-width:700px){
.newposts > ul > li {
    line-height:1.65;
  text-align:left;
  padding-left:10%;
  padding-right:0;
  margin-bottom:auto;
}
}

