@use 'variables';
@use 'resets';
body {
//tag decl. teak with classes whenever we want a change.
  text-align: left;
  background-color: black;
  color: white;
} 

//this is an inner wrapper
.body {
background-color: variables.$bodyBackground;
}

h2 {
 transform:rotate(1deg);
 background:teal;
 text-align:right;
 box-shadow: .15rem .25rem .25rem rgba(0,0,0,.25);
 text-shadow: 2px 2px 1px variables.$theRed;
}
h3 {text-align:right;}
a {color:variables.$anchors;
    &:hover{
    text-decoration:underline;
    }
}

@media screen and (min-width: 900px) {
.body {
max-width: 900px;
margin: auto;
}
}






