@use 'resets';
@use 'variables';

body {
  display: grid;
  grid-template-columns: repeat(2, variables.$smallspace) 1fr repeat(2, variables.$smallspace);
  row-gap: variables.$mediumspace;
  grid-template-areas:
    "header header header header header"
    ". . welcome . ."
    ". article article article ."
    ". . card . ."
    " . . newposts . ."
    ". . backToTop . ."
    //I would do ". . footer . ." but see below on footer
    " footer footer footer footer footer";
}
header {
  grid-area: header;
}
.welcome {
  grid-area: welcome;
}
.article {
  grid-area: article;
}
.card {
  grid-area: card;
}
.newposts {
  grid-area: newposts;
}
.backToTopNav {
  //it's just a button
  grid-area: backToTop;
}
.footer {
  grid-area: footer;
}

.footer {
  display: grid;
  align-items: center;
  padding: variables.$mediumspaceFooter 0 variables.$smallspaceFooter;
  grid-template-columns:
    repeat(2, variables.$smallspace) minmax(min-content, 1fr)
    repeat(2, variables.$smallspace);
  row-gap: variables.$mediumspaceFooter;
  &__copyright {
    text-align: right;
    grid-column: 2 / -2;
  }
  &__social {
    @include variables.flexcenter(row, center, space-between);
    grid-column: 2 / -2;
  }
}
