@use 'resets';
@use 'variables';

.backToTop {
    grid-area:backToTop;
 background-image: radial-gradient(ellipse, variables.$theDark, variables.$bMainCol);
  position:sticky;
  @include variables.flexcenter(column, center,center);
  top:0;
  right:0;
  padding: 0.75rem 0;
  border-radius: 50%;
  box-shadow: 0 .2rem 0.2rem variables.$bShadowCol; 
  height:2.5rem;
  width: 2.0rem;
  &__img {width:80%;
  transform:rotate(-90deg);}
  
}
