@mixin flexcenter($direction:row, $align: center, $justify: center) {
  display: flex;
  flex-flow: $direction wrap;
  align-items: $align;
  justify-content: $justify;
}

//SPACING,
//Main Grid
$columnSmallGap:calc(1rem + 2vw);
$columnMediumGap: calc(2.1rem + 2vw);
$columnLargeGap:4rem;
$rowSmallGap: 1rem;
$noGap:0em;
//welcomePar, padding
$welcomeSmallMarginTB:1.2rem;
$welcomeMarginTB:1.8rem;
$welcomePaddingTablets:2.5rem;
//h2
$h2MarginTop:2.1rem;
$h2MarginBottom:1rem;
$h2MarginLeft:2.5rem;
//footer
$footerPaddingTop:calc(1rem + 2vw);
$footerPaddingBottom:calc(0.5rem + 2vw);
$footerGridRowGap:calc(1rem + 2vw);
$squareLogo: 1.8rem;
//RESPONSIVE FONTS
$headersFontChange:0.2vw;
$parFontChange:0.4vw;
// COLORS
$footerBackground2: #d5cccc;
$footerBackground: rgba(0,0,0,0.8);
//body
$bodyBackground: #442d2d;
$theDark:#444;
$theNotSoDark:#a8a8a8;
$h2background:#008080;
$theRed:#991a1a;
//for the sliding navbar
$theGreen:#093e27;
$theBrown:rgba(60, 46, 17, 0.9);
$theBrown2:rgba(135, 116, 78,0.9);
$anchors:gold;
$hamburgerOff:#c8a242;
//after clicking, because of the brownn color
$hamburgerOn2:black;
$hamburgerOn:#ee0934;
//Mr nobody, CARD
$cardcolor:#717f71;
//option 2 #5b1616bf
$cardBoxShadow:rgba(0,0,0,0.5);
//Back To Top Button
//main button
$bShadowCol:rgba(255,0,0,0.15);
$bMainCol:#3c0505b3;
//HAMBURGER
$hamburgerLineHeight:4px;
$hamburgerMargin:1rem;
$hamburgerSize:2rem;

//USED ON SVGs
$twitter: #1da1f2;
$facebook: #4267b2;
$instagram: #e94752;
$github: #000;


