@mixin flexcenter($direction:row, $align: center, $justify: center) {
  display: flex;
  flex-flow: $direction wrap;
  align-items: $align;
  justify-content: $justify;
}

//SPACING

$smallspace: 1rem;
$mediumspace: 3.1rem;
$squareLogo: 1.2rem;
$smallspaceFooter: 1rem;
$mediumspaceFooter: 2rem;

// COLORS

$footerBackground: #d5cccc;
//thedark used in background color and footer text color
$theDark: #444;
$h2background:#008080;
$theBrown:rgba(135, 116, 78);
//USED ON SVGs
$twitter: "#1da1f2";
$facebook: "#4267b2";
$instagram: #e94752;
$github: #000;


//HAMBURGER
$hamburgerLineHeight:4px;
$hamburgerMargin:1rem;
$hamburgerSize:2rem;
