@use "variables";

section.welcome > p {
    margin:variables.$welcomeMarginTB 0;
}
@media screen and (min-width:720px){
    section.welcome > p {
    padding: 0 variables.$welcomePaddingTablets;
    text-align:center;}
}
