.wholePage{
    max-width:900px;
    margin:auto;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
 grid-template-areas:
 "body body body body" 
 ". donateContribute donateContribute ."
 "disqus disqus disqus disqus" 
 "footer footer footer footer" ;
&__body{
  grid-area:body;
}
 &__getInvolved{
   grid-area:donateContribute;
   display:flex;
 flex-direction:row;
 justify-content:space-around;
  align-items:center;
}
& > .comments{
  grid-area:disqus;
}
& > .footer{
  grid-area:footer;
}
}

@media screen and (min-width:1000px) {
  .wholePage{
   max-width:1300px;
  grid-template-columns: minmax(auto, 200px) 900px minmax(auto, 200px);
  grid-template-areas:
  "donateContribute body ."
  ". disqus ."
  ". footer  .";
  &__getInvolved{
  flex-direction:column;
  justify-content:flex-start;
  margin-top:50vh;
}
}

}







