@use 'variables';
//wholepage is a wrapper inner to the body tag.
.wholePage{
  max-width:900px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
 grid-template-areas:
 "body body body body" 
 ". donateContribute donateContribute ."
 "disqus disqus disqus disqus"
 "footer footer footer footer"; 
 //here I define the 4 areas of the wholePage grid.
&__body{
  grid-area:body;
}
&__getInvolved{
   grid-area:donateContribute;
   @include variables.flexcenter(row,center, space-around);
}
.comments{
  grid-area:disqus;
  padding:0.55rem;
}
.footer{
  grid-area:footer;
}
}

@media screen and (min-width:900px){
  .body{box-shadow:1px 1px 3px rgba(255, 255, 255, 0.5);
  }
}

@media screen and (min-width:1000px) {
  .wholePage{
   max-width:1300px;
  grid-template-columns: minmax(auto, 200px) 900px minmax(auto, 200px);
  grid-template-areas:
  "donateContribute body ."
  ". disqus ."
  ". footer  .";
  &__getInvolved{
  flex-direction:column;
  justify-content:flex-start;
  margin-top:50vh;
}

}

}







