.header > .showcase__h1{
    text-align:center;
top:75%}

@media screen and (min-width:350px){

    .header > .showcase__h1 {
        top:80%;
    }
}
@media screen and (min-width:750px){

    .header > .showcase__h1 {
        top: 50%;
        left:30%;
        text-align:left;
    }
}


@media screen and (min-width:900px){
<<<<<<< HEAD
  .body{box-shadow:1px 1px 3px rgba(255, 255, 255, 0.5);
  }
@supports (writing-mode:sideways-rl){
article > section:first-child > h2{
float: left;
writing-mode: sideways-lr;
margin: 20px;
margin-top: 20px;
transform: rotateZ(180deg);
margin-top: -20px;
}
}
@supports (clip-path:circle(161px at center center)){
.whitman__pic{clip-path:circle(163px at center center)
}

}
}

