.header > .showcase__h1{
    text-align:center;
top:75%}

@media screen and (min-width:350px){

    .header > .showcase__h1 {
        top:80%;
    }
}
@media screen and (min-width:750px){
    .header > .showcase__h1 {
        top: 50%;
        left:30%;
        text-align:left;
    }
}



