.whitmanPar{
&__pic{float:left;width:50%;}
&__line{text-align:center}
  flex-direction:column;
  display:flex;
  align-items:center;
  justify-content:center;
}
@media screen and (min-width:700px){
.whitmanPar{
  clear:none;
  overflow:visible;
  flex-direction:row;
}
}
@support(shape-outside){
@media screen and (min-width:700px){
.whitmanPar{
all:initial;
clear:both;
overflow:hidden;
&__pic{width:50%;float:left;}
&__line{text-align:center;}
}
}
}
